html
  head
    title Basil's Blog - #{title}
    block scripts
      script(src='/main.js')
  body
    block content
    block footer
      #footer &copy; 2023
        a(href='https://github.com/basil08')  Basil Labib